<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DoAuth</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.DoAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserMappedCustomer</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.FetchUserMappedCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToChatPage</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.RedirectToChatPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchCustomerChats</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.FetchCustomerChats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMailActivity</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.SaveMailActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllUser</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.FetchAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCustomerPage</servlet-name>
        <servlet-class>com.tcs.ignite.tcsmail.servlets.RedirectToCustomerPage</servlet-class>
    </servlet>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.tcs.ignite.tcsmail.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/views/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>DoAuth</servlet-name>
        <url-pattern>/DoAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserMappedCustomer</servlet-name>
        <url-pattern>/FetchUserMappedCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToChatPage</servlet-name>
        <url-pattern>/RedirectToChatPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchCustomerChats</servlet-name>
        <url-pattern>/FetchCustomerChats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMailActivity</servlet-name>
        <url-pattern>/SaveMailActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllUser</servlet-name>
        <url-pattern>/FetchAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCustomerPage</servlet-name>
        <url-pattern>/RedirectToCustomerPage</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
